---
import type { CollectionEntry } from "astro:content";
import H2 from "./H2.astro";
import Photo from "./photo/Photo.astro";
type Props = {
  post: CollectionEntry<"posts">;
};

const { post } = Astro.props;
---

<article>
  <a href={`/work/${post.slug}`}>
    <div class="flex items-start">
      <Photo src={post.data.image} class="mb-4 aspect-thumbnail" />
      <div class="flex flex-col ml-4 mt-2">
        <H2
          text={`${post.data.title} ~ ${post.data.duration}`}
          class="line-clamp-1"
        />
        <p
          class="text-lg text-zinc-200 font-medium mb-4 line-clamp-1 hidden lg:flex"
        >
          {post.data.industry}
        </p>
      </div>
    </div>
    <p class="text-zinc-200 font-medium text-md line-clamp-5">{post.body}</p>
  </a>
</article>
