---
import type { GetStaticPaths } from "astro";
import { getCollection, type CollectionEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Main from "../../components/Main.astro";
import H1 from "../../components/H1.astro";
import H2 from "../../components/H2.astro";

export const getStaticPaths = (async () => {
  const posts = await getCollection("posts");

  return posts.map((post) => {
    return {
      params: {
        slug: post.slug,
      },
      props: {
        post,
      },
    };
  });
}) satisfies GetStaticPaths;

type Props = {
  post: CollectionEntry<"posts">;
};

const { post } = Astro.props;

const { Content } = await post.render();
---

<Layout title={post.data.title}>
  <Main>
    <div class="flex items-start">
      <img
        src={post.data.image}
        width={180}
        alt={post.data.title}
        class="rounded-2xl shadow-xl mb-4 aspect-thumbnail object-cover"
      />
      <div class="ml-8 mt-4">
        <H1 transition:name="title" text={post.data.title} />
        <H2 text={post.data.industry} />
      </div>
    </div>
    <div class="prose prose-2xl text-white overflow-visible relative mb-20">
      <Content />
    </div>
  </Main>
</Layout>
